<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<title>{{=it.wiki}}: {{=it.title}}</title>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Static -->
	<link rel="stylesheet" href="./nouwiki/templates/nouwiki-default-template/assets/static/css/template.ui.css">

	<!-- Global User Import -->
  {{ for(var i in it.global.import) { }}
  <link rel="import" href="{{=it.global.import[i]}}">
  {{ } }}

  <!-- Local User Import -->
  {{ for(var i in it.local.import) { }}
  <link rel="import" href="{{=it.local.import[i]}}">
  {{ } }}

	<!-- Global User CSS -->
	{{ for(var i in it.global.css) { }}
	<link rel="stylesheet" href="{{=it.global.css[i]}}">
	{{ } }}

	<!-- Local User CSS -->
	{{ for(var i in it.local.css) { }}
	<link rel="stylesheet" href="{{=it.local.css[i]}}">
	{{ } }}
</head>
<body>
	<div id="controles">
    <a href="./static.html"><button id="home">Home</button></a>
  </div>
	<div id="content" class="markdown-body">
	{{=it.fragment}}
	</div>

	<!-- Static -->
  <script src="./nouwiki/templates/nouwiki-default-template/assets/static/js/template.ui.js"></script>

	<!-- Global User JS -->
	{{ for(var i in it.global.js) { }}
	<script src="{{=it.global.js[i]}}"></script>
	{{ } }}

	<!-- Local User JS -->
	{{ for(var i in it.local.js) { }}
	<script src="{{=it.local.js[i]}}"></script>
	{{ } }}
</body>
</html>
