<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>{{=it.wiki}}: {{=it.title}}</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Dynamic -->
  <link rel="stylesheet" href="/nouwiki/templates/nouwiki-default-template/assets/nouwiki/css/template.ui.css">
  <script>
    window.target = "nouwiki";
  </script>

  <!-- Global User Import -->
  {{ for(var i in it.global.import) { }}
  <link rel="import" href="{{=it.global.import[i]}}">
  {{ } }}

  <!-- Local User Import -->
  {{ for(var i in it.local.import) { }}
  <link rel="import" href="{{=it.local.import[i]}}">
  {{ } }}

  <!-- Global User CSS -->
  {{ for(var i in it.global.css) { }}
  <link rel="stylesheet" href="{{=it.global.css[i]}}">
  {{ } }}

  <!-- Local User CSS -->
  {{ for(var i in it.local.css) { }}
  <link rel="stylesheet" href="{{=it.local.css[i]}}">
  {{ } }}

  <script src="/nouwiki/assets/js/require.js"></script>
  <script src="/nouwiki/assets/js/nouwiki.init.js"></script>
  <script>
    var wiki = "{{=it.wiki}}";
  </script>
</head>
<body>
  <div id="controles" class="disabled">
    <a href="/"><button id="home">Home</button></a>
    <button id="create">Create</button>
    <div id="right_controles">
      <input id="search_pages" type="text" placeholder="Search Pages" />
      <ul id="matches">
      </ul>
    </div>
  </div>
  <div id="content" class="markdown-body">
  {{=it.fragment}}
  </div>
  <div id="editor">
    <textarea></textarea>
  </div>

  <!-- Dynamic -->
  <script src="/nouwiki/templates/nouwiki-default-template/assets/nouwiki/js/template.ui.js"></script>

  <!-- Global User JS -->
  {{ for(var i in it.global.js) { }}
  <script src="{{=it.global.js[i]}}"></script>
  {{ } }}

  <!-- Local User JS -->
  {{ for(var i in it.local.js) { }}
  <script src="{{=it.local.js[i]}}"></script>
  {{ } }}
</body>
</html>
